<div class="mt-10 mx-auto">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  
  <div class="space-y-2 mb-20">
    <% (@tweets.order(created_at: :desc)).each do |tweet| %>
      <%# tweets here %>
      <%= render "/tweets/tweet", tweet: tweet, retweet: Tweet.find_by(id: tweet.retweet_id) %>
    <% end %>
    <%= render "/tweets/more_tweets_buttons" %>
  </div>
</div>