<div class="mt-10 mx-auto">
  <div class="space-y-2 mb-20">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    
    <% if params[:page].to_i >= 0 %>

      <% (@tweets.order(created_at: :desc)).each do |tweet| %>
        <%# tweets here %>
        <%= render "/tweets/tweet", tweet: tweet, retweet: Tweet.find_by(id: tweet.retweet_id) %>
      <% end %>

      <%= render "/tweets/more_tweets_buttons" %>
    <% end %>
  </div>
</div>